/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {

  h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--font-secondary);
    margin: 30px 0;
    @media (min-width: 991px) {
      max-width: 65%;
      margin: 0 0 80px 0;
    }
  }

  .our-story {
    padding: 40px;
    background-color: lighten($secondary, 62);

    @media (min-width: 991px) {
      padding-right: 35%;
    }

    h4 {
      text-transform: uppercase;
      font-size: 18px;
      color: lighten($secondary, 20);
    }

    h3 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
      color: var(--color-secondary);
    }

    p {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
    li {
      padding: 5px 0;
      display: flex;
      align-items: center;
    }
    i {
      font-size: 20px;
      margin-right: 4px;
      color: var(--color-primary);
    }
  } 

  .watch-video {
    i {
      font-size: 32px;
      transition: 0.3s;
      color: var(--color-primary);
    }
    
    a {
      font-weight: 600;
      color: var(--color-secondary);
      margin-left: 8px;
      transition: 0.3s;

    }

    &:hover {
      a {
        color: var(--color-primary);
      }
    }
  }
    

  .about-img {
    min-height: 600px;
    background-size: cover;
    background-position: center;
    @media (min-width: 992px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }


}
