/*--------------------------------------------------------------
# Alt Services Section
--------------------------------------------------------------*/
.alt-services {

  .img-bg {
    background-size: cover;
    background-position: center center;
    min-height: 400px;
  }

  h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: var(--color-primary);
      left: 0;
      bottom: 0;
    }
  }
  
  .icon-box {
    margin-top: 50px;
    
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-primary);
      margin-right: 25px;
      font-size: 28px;
      width: 56px;
      height: 56px;
      border-radius: 4px;
      line-height: 0;
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
      background-color: #fff;
      transition: 0.3s;
    }

    &:hover i {
      background-color: var(--color-primary);
      color: #fff;
    }
  
    h4 {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 18px;
      a {
        color: #000;
        transition: 0.3s;
        &:hover {
          color: var(--color-primary);
        }
      }
  
    }
  
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

}
