// Fonts
$font-default:  '"Karla", sans-serif';
$font-primary: '"impact"';
$font-secondary: '"Karla", sans-serif';

// Colors
$default: #000000;
$primary: #2E4A70;
$secondary: #BB353C;

@import 'general';
@import 'header';
@import 'nav';
@import 'sections';
@import 'hero';
@import 'blog';
@import 'footer';
